<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      O
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>O is for OMG did you just knock over a glass vase?</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter11']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter13']">→</ion-button>
</ion-content>

<ion-footer>page 12 of 27</ion-footer>