<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      F
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>F is for Friends.  You won't have any left after getting a cat, but I'm ok with that.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter20']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter22']">→</ion-button>
</ion-content>

<ion-footer>page 21 of 27</ion-footer>