<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      G
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>G is for Great.  Cats make great pets for people who are lazy like me.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter19']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter21']">→</ion-button>
</ion-content>

<ion-footer>page 20 of 27</ion-footer>