<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      M
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>M is for Moo, that's the sounds cows make.  Cats say meow, but that was too obvious for this one.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter13']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter15']">→</ion-button>
</ion-content>

<ion-footer>page 14 of 27</ion-footer>