<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      L
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>L is for Love.  Cats love you, they just don't show it ever.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter14']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter16']">→</ion-button>
</ion-content>

<ion-footer>page 15 of 27</ion-footer>