<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      U
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>U is for understanding.  I'm understanding you're alergic, but hold my cat anyway.</p>
  <img src="https://loremflickr.com/640/360">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter5']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter7']">→</ion-button>
</ion-content>

<ion-footer>page 6 of 27</ion-footer>