* {
  font-size: x-large;
}

p {
  width: 100%;
  text-align: center;
  padding:0 10px 0 10px;
}

ion-button {
  position: fixed;
  bottom:0px;
  width:100%;
}

ion-footer {
  margin-bottom: 80px;
  font-size: 1em;
  text-align: center;
}