<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      D
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>D is for Dung.  You will be picking up a lot of dung from the litter box, have fun with that.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter22']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter24']">→</ion-button>
</ion-content>

<ion-footer>page 23 of 27</ion-footer>