<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Q
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Q is for quiet.  Quiet during the day, but not quiet at night when you're tring to sleep.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter9']">←</ion-button>
  <ion-button class="right" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter11']">→</ion-button>
</ion-content>

<ion-footer>page 10 of 27</ion-footer>