<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      The End
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>I thus it was written, the backwards Z,Y,X book of cats.  It has been anything but a Cat-astrophe.  I will now retreat into the Cat-acombs.</p>
  <img src="https://loremflickr.com/640/360" alt="">
  <ion-button class="left" color="success" expand="full"[routerDirection]="'root'" [routerLink]="['/chapter26']">←</ion-button>
</ion-content>

<ion-footer>page 27 of 27</ion-footer>